.locationDetails {
    display: flex;
    justify-content: center;
}

.locationDetailsTable {
    max-width: 1000px;
    width: 100%;
    align-self: center;
}

.locationDetailsTable__title {
    font-size: 1.8em;
}

.locationDetailsTable__item {
    font-size: 1.3em;
}

.returnLocations {
    margin-top: 20px;
    margin-left: 10%;
}

.locationStockLevels {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.locationStockLevelsTable {
    max-width: 1000px;
    width: 100%;
    align-self: center;
}